<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<style>

	body{
		background-color: #56c2ca;
	}

	input{
		width: 100%;
		padding: 12px 20px;
		margin: 8px 0;
		box-sizing: border-box;
	}

	input::placeholder {
	  color: #d3d3d3;
	}

	.submit{
		background-color: #005555;
	}

	.center-column{
		width:600px;
		margin: 20px auto;
		padding:20px;
		background-color: #fff;
		border-radius: 3px;
		box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
	}

	.item-row{
		background-color: #0d8fe6;
		margin: 10px;
		padding: 20px;
		border-radius: 3px;
		color: #fff;
		font-size: 16px;
		box-shadow: 0px -1px 10px -4px rgba(0,0,0,0.75);
	}

    .btn-info{

        background-color: #005a66;
		border-color: #000000;
    }
	.btn-danger{
		background-color: #fd4d4d;
		border-color: #fd4d4d;
	}

    .heading{
        text-align: center;
    }

    .cancel{

        text-align: center;
        color: white;
        width:280px;
        height: 50px;
		margin: 5px auto;
		padding:12px;
		background-color: #005a66;
		border-radius: 3px;
		

    }


</style>

<div class="center-column">

    <h5>Are you sure you want to delete "{{item}}" ?</h5>

    

    <form method="POST" action="">

        {% csrf_token %}
        {{form}}
        <input class="btn btn-lg btn-info" type="submit" name="Confirm" value="Delete Task">
    </form>

    <div class="cancel">
        <a href="{% url 'list' %}"><p style="color: white;">Cancel</p></a>
    </div>

</div>